/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------------------------------****-------------------------------- */
h1 {
    font-size: 2rem;
    padding: 10px 0px;
    font-weight: bold;
}

h2 {
    font-size: 1.6rem;
    padding: 10px 0px;
    font-weight: bold;
}
.content-container {
    max-width: 60%;
    margin: 0 auto;
}

.home-slideshow {
    background-image: url("../images/mountain-couple.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 40%;
    background-position: center;
    transition: 1s all linear;
}

.nav-container {
    display: flex;
    list-style: none;
    color: white;
    align-items: center;
    height: 100%;
}

li {
    padding: 10px;
    font-size: 1.5rem;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.nav-container a {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    color: white;
}

.logo {
    position: relative;
    z-index: 1;
    padding: 20px;
    width: 50px;
}

.parallax-box {
    width: 100%;
}

.transparent {
    background: rgba(0, 0, 0, 0.1);
    height: 500px;
}

.background-img2 {
    background: url("../images/pink\ beach.jpg") fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 30%;
    background-position: center;
}

.home-page-text1 {
    line-height: 40px;
    font-size: 1.4rem;
    font-family: Helveticas, Arial, sans-serif;
    margin: 50px 0px;
}

.home-page-text2 {
    line-height: 40px;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    margin: 50px 0px;
}

footer {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
}

footer i {
    font-size: 30px;
    color: white;
    padding: 10px;
}

.home-slideshow img {
    display: block;
    margin: 0 auto;
    padding-top: 300px;
}

.destination-page-background {
    background: url("../images/us-map.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 80%;
    background-position: center;
}

.west {
    text-align: center;
}

.west-child img {
    width: 100%;
}

.west h3 {
    font-size: 1.5rem;
    line-height: 40px;
    padding: 20px;
}

.westCities {
    transition: 1s all linear;
}

.westCities img {
    box-shadow: 5px 5px 5px black;
}

.abt-city {
    width: 100%;
}

/* tips page */
.tips-background {
    background: url(../images/Travel-USA-flag.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.tips-logo {
    position: relative;
    z-index: 1;
    padding: 20px;
    width: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50, -50);
}

section {
    padding-top: 50px;
}

.tip-image1 img {
    width: 100%;
}

.tips {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    background: #f4f4f4;
}

.tips p,
h2 {
    line-height: 50px;
    font-size: 1.3rem;
}

.tip1 {
    flex: 1;
    padding: 60px;
    background-color: #f4f4f4;
}

.tip-image1 {
    /* width: 1500px; */
    flex: 2;
}

.tip-image2 {
    /* width: 1500px; */
    width: 60%;
    height: 500px;
}

.tip-image2 img {
    width: 100%;
    height: 100%;
}

.tip2 {
    flex: 2;
    padding: 60px;
    background-color: #f4f4f4;
}

.slideshow {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.slideshow img {
    max-width: 80%;
}

#back,
#next {
    font-size: 3rem;
}

.contact-background {
    background: url("/images/Summer-vacation-with-family.jpg") fixed;
    width: 100vw;
    height: 100vh;
}

#logIn {
    /* display: none; */
    width: 60vw;
    border: 1px solid grey;
    text-align: center;
    box-shadow: 5px 5px 5px black;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background-color: white;
}

#logIn .social-media {
    border-radius: 20px;
    border: 1px solid grey;
    font-size: 1.2rem;
    padding: 20px;
    margin: 10px;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.6); */
    overflow: hidden;
    z-index: 1000;
    top: 30px;
}

#close {
    position: absolute;
    color: black;
    top: 5px;
    right: 5px;
    font-size: 2rem;
}

.activities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.activities-container h1 {
    font-size: 2rem;
    line-height: 40px;
    padding: 30px;
}

.activities-container p {
    font-size: 1.5rem;
    line-height: 40px;
    padding: 20px 200px;
}

.sign-in {
    padding: 20px;
    line-height: 40px;
}

#logIn i {
    border: 1px solid black;
    width: 25px;
    height: 25px;
}
